body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	user-select: none;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
body,main,footer {
	overflow: hidden;
}

main {
	flex: 1 0 auto;
	display: flex;
	flex-direction:row;
}

#midipane {
	flex: 1 0 auto;
}
#nodepane {
	width: 50%;
	border-left: 4px solid grey;
	box-sizing: border-box;
	touch-action: none;
}
#nodepane #rete {
	width:100% !important;
	height:100% !important;
}
#nodepane .node {
	border: 1px solid black;
	border-radius: 4px;
	padding:0px;
	min-width: 100px;
	background:#bbb;
}
#nodepane .node>* {
	padding:3px;
}
#nodepane .title {
	font-size:16px;
	background:#999;
}
#nodepane .output *,#nodepane .input * {
	margin:0px;
}
#nodepane .socket.output{
	margin-right: -14px;
	margin-left: 6px;
}
#nodepane .socket.input{
	margin-left: -14px;
	margin-right: 6px;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background: grey;
}

input[type=text] {
	user-select: auto;
}

.smallinput {
	width: 30px;
}

#clickoverlay {
	color: white;
	background-color: #333;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

#piano-options {
	padding: 2px;
}

#piano {
	touch-action: none;
	background: black;
	height: 100px;
	padding-top: 4px;
	box-sizing: border-box;
}

#piano > * {
	display: block;
	height: 100%;
	width: 100px;
	overflow: visible;
	white-space: nowrap;
}

.key {
	display: inline-block;
	overflow: hidden;
}

.key * {
	position: absolute;
	display: inline;
	bottom: 0px;
	height: auto;
	width: auto;
	/* it says this is ignored but it actually isn't */
	background: none;
}

.key.white {
	background: white;
	border-right: gray solid 1px;
	height: 100%;
	width: 30%;
	z-index: 0;
}

.key.black {
	position: relative;
	bottom: 40%;
	right: 10%;
	background: black;
	height: 60%;
	width: 20%;
	z-index: 1;
	margin-right: -20%;
}